<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>FancyHotel</display-name>
  <welcome-file-list>
    <welcome-file>/login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>about</servlet-name>
    <jsp-file>/about.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>about</servlet-name>
    <url-pattern>/about</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>main</servlet-name>
    <jsp-file>/main.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>confirmation</servlet-name>
    <jsp-file>/confirmation.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>confirmation</servlet-name>
    <url-pattern>/confirmation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateOne</servlet-name>
    <jsp-file>/updateone.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateOne</servlet-name>
    <url-pattern>/updateOne</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addCard</servlet-name>
    <jsp-file>/addcard.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCard</servlet-name>
    <url-pattern>/addCard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteCard</servlet-name>
    <jsp-file>/deletecard.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCard</servlet-name>
    <url-pattern>/deleteCard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateTwo</servlet-name>
    <jsp-file>/updatetwo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateTwo</servlet-name>
    <url-pattern>/updateTwo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateThree</servlet-name>
    <jsp-file>/updatethree.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateThree</servlet-name>
    <url-pattern>/updateThree</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>newUser</servlet-name>
    <jsp-file>/register.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>newUser</servlet-name>
    <url-pattern>/newUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>edu.gatech.cs4400.FancyHotel.Controller.LogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>searchServlet</servlet-name>
    <jsp-file>/searchRooms.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchServlet</servlet-name>
    <url-pattern>/availability</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SearchRoomServlet</servlet-name>
    <servlet-class>edu.gatech.cs4400.FancyHotel.Controller.SearchRoomsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchRoomServlet</servlet-name>
    <url-pattern>/searchRooms</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>chooseRoomsServlet</servlet-name>
    <jsp-file>/chooseRooms.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>chooseRoomsServlet</servlet-name>
    <url-pattern>/chooseRooms</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>searchConfirmationServlet</servlet-name>
    <servlet-class>edu.gatech.cs4400.FancyHotel.Controller.UpdateConfirmationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchConfirmationServlet</servlet-name>
    <url-pattern>/searchConfirmation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>edu.gatech.cs4400.FancyHotel.Controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cancel</servlet-name>
    <jsp-file>/cancel.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancel</servlet-name>
    <url-pattern>/cancel</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>viewReview</servlet-name>
    <jsp-file>/viewReview.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewReview</servlet-name>
    <url-pattern>/viewReview</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>getReview</servlet-name>
    <servlet-class>edu.gatech.cs4400.FancyHotel.Controller.ViewReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getReview</servlet-name>
    <url-pattern>/getReview</url-pattern>
  </servlet-mapping>  
  
  
  <servlet>
    <servlet-name>giveReview</servlet-name>
    <jsp-file>/giveReview.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>giveReview</servlet-name>
    <url-pattern>/giveReview</url-pattern>
  </servlet-mapping> 
  <mime-mapping>
    <extension>css</extension>
    <mime-type>text/css</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>js</extension>
    <mime-type>text/javascript</mime-type>
  </mime-mapping>
</web-app>